#inner-nav
#container
  #profile
    #image
      img#profile-photo(src='/images/aowkoawkao.jpeg')
      link(rel="stylesheet", href="/stylesheets/style.css")
      a(href='#')
        i.fas.fa-pen.stroke-transparent
    p#name
      | Leonardo 
      br
      span#email leonardo19@mhs.mdp.ac.id

    #about
      p(style='display:inline;') Profile
      
        i.fas.fa-pen.stroke-transparent-blue
      br
    p 
      | Tanggal Lahir
      br
      strong 13 Oktober 2003
    p 
      | Alamat
      br
      strong Bukit besar,jl.putri rambut selako, perumahan bintang regency blok B10
    p
      | Telpon
      br
      strong 082371111178
  #info-cards
    .card
      p
        i.fas.fa-briefcase.stroke-transparent
        |    About Me
      | Nama saya Leonardo ,hobi saya bermain games dan 
      | membaca komik secara online ,saya sekarang kuliah di Universitas MDP 
    .card
      p
        i.fas.fa-briefcase.stroke-transparent
        | Experience
      ul
        li
          p.tags
            | Gerakan Nasional 1000 Startup Digital
            br

        li
          p.tags
            | Juara 2 Lomba Games Mobile Legend Kayuagung 
            br
            span
        li
          p.tags
            | Organisasi HiMSi
            br
            span
              | 
    .card
      p
        i.fas.fa-graduation-cap.stroke-transparent
        |    Education
      ul
        li
          p.tags
            | SD Negeri 17 Kayuagung
            br
            span
              span Tahun Lulus 2010 - 2016
            i.fas.fa-pen.stroke-transparent-blue
        li
          p.tags
            | SMP Negeri 1 Kayuagung
            br
            span
              span Tahun Lulus 2016 - 2019
            i.fas.fa-pen.stroke-transparent-blue
        li
          p.tags
            | SMK Negeri 1 Kayuagung
            br
            span
              span Tahun Lulus 2019 - 2021
